body,
header,
h1 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  text-align: center;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #383838;
}
header {
  display: flex;
  padding: 15px 0 15px 0;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  background: #b3dee2;
  border-bottom: 5px solid #eee;
}
header .logo {
  padding: 0 15px 0 15px;
}
header .options {
  display: inline-flex;
}
header .options h1 {
  padding: 0 15px 0 15px;
}
@media all and (max-width: 444px) {
  header .options {
    display: inline-block;
  }
}

/* Buttons */
#moveButton {
  cursor: pointer;
  transition: 0.15s;
}
#moveButton:hover {
  color: #eee;
}
#findButton {
  cursor: pointer;
  transition: 0.15s;
}
#findButton:hover {
  color: #eee;
}
#clearButton {
  cursor: pointer;
  transition: 0.15s;
}
#clearButton:hover {
  color: #eee;
}
#mazeButton {
  cursor: pointer;
  transition: 0.15s;
}
#mazeButton:hover {
  color: #eee;
}

.main {
  height: calc(100vh - 59px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 491px) {
  .main {
    height: calc(100vh - 83px);
  }
}
@media all and (max-width: 444px) {
  .main {
    height: calc(100vh - 131px);
  }
}

.container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: solid 1px #383838;
}
.container .rows {
  display: flex;
}
.container .rows .columns {
  padding: 7px;
  border: solid 1px #383838;
  cursor: pointer;
}
.container .rows .columns:focus {
  background: cyan;
}
canvas {
  border: #383838 solid 2px;
}
table,
tr td {
  padding: 0;
  border: #fff solid 1px;
}
table {
  margin: 0 auto;
  border-spacing: 0;
}
tr {
  height: 20px;
}
td {
  border-radius: 4px;
  background-color: #eeeeee;
  width: 18px;
  user-select: none;
}

/* The great Transition node effect */
.circleTransition {
  border-radius: 50%;
  transition: 0.25s;
}

/* Start/End Node */
.startNode {
  background: #a8dadc;
}
.startNodeHover {
  background: #cadfe0;
  transition: 0.15s;
}
.endNode {
  background: #e63946;
}
.endNodeHover {
  background: #e0656f;
}
.endNodeReached {
  background: #e63946;
}

/* Nodes */
.nextTo {
  border-radius: 50%;
  transition: 0.2s;
}
.nodeTransition {
  background: #2d5388;
  transition: 0.2s;
}
.visitedNode {
  background: #5798c0;
  border-radius: 4px;
  transition: 0.2s;
}

/* Walls */
.wallTransition {
  border-radius: 50%;
  transition: 0.15s;
}
.wall {
  background: #555;
  border-radius: 4px;
  transition: 0.15s;
}

/* Paths */
.returningPath {
  background: #fca311;
  transition: 0.15s;
}
.path {
  background: #f6bd60;
  transition: 0.15s;
}
